@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  
}

.App-header {
  /* min-height: calc(100vh - 20px); */
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 32pt;
  color: #333;
  font-weight: 900;
  font-family: 'Titillium Web', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  color: #f1cd43;
  height: 20px;
}